NUXT_DONT_TRUST_VERIFY_MIN_AGE="18"
NUXT_DONT_TRUST_VERIFY_MATCH_THRESHOLD="0.6"
NUXT_DONT_TRUST_VERIFY_PROXY_SECRET="a long random secret key (standalone mode: trusts x-user-id only when x-dont-trust-verify-secret matches)"
